@import '~materialize-css/dist/css/materialize.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 221, 221);
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-btns{
  display: flex;
  gap: 10px;
}

.auth-inputs{
  padding: 0 20px;
}

.auth-input{
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
  color: #fff;
}

.auth-input + label{
  color: #fff !important;
}

.auth-input:focus{
  border-bottom: 1px solid rgb(255, 209, 3) !important;
  box-shadow: 0 1px 0 0 rgb(255, 209, 3) !important;
}

.auth-input:focus + label{
  color: rgb(255, 209, 3) !important;
}

.nav-wrapper{
  padding: 0 20px;
}